body {
    font-family:Franklin Gothic Medium;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-image:url("pp1.jfif");
background-position:center;
background-repeat: no-repeat;
background-size:cover;
background-color:#cccccc;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    background-color: rgba(255,255,237,0.5);
    padding: 50px;
box-shadow:0 0 10px rgba(0,0,0,1);
border-radius:10px;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
border-radius:10px;
margin:05px;
}


.z{
   padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
border-radius:10px;
width:100%;

}



button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
box-shadow:0 0 10px rgba(0,0,100,1);


}

.featured-products, .shop, .cart {
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 0px solid #ddd;
    padding: 20px;
    text-align: center;
background-color:rgba(255,255,255,0.5);
box-shadow:0 0 10px rgba(0,0,0,1);
border-radius:10px;

}

.product img {
    width: 285px;
    height: 285px;
    object-fit: cover;
border-radius:10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
background-color:rgba(255,255,255,0.5);
box-shadow:0 0 10px rgba(0,0,0,1);
border-radius:10px;
}
.h{
   text-align: center;
    background-color: rgba(255,255,237,0.5);
    padding: 20px;
margin-left:100px;
margin-right:100px;
margin-top:50px;
box-shadow:0 0 10px rgba(0,0,0,1);
border-radius:10px;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
}
